*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
@media only screen and (max-width:575px){
  .row {
    width: 100%;
    /* margin-left: -10px; */
    /* margin-right: 10px; */
}

.col {
    padding-left: 10px;
    padding-right: 0px;
}

.c-0 {
    display: none;
}

.c-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}

.c-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}

.c-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.c-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}

.c-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
}

.c-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.c-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
}

.c-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}

.c-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.c-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
}

.c-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.c-o-1 {
    margin-left: 8.33333%;
}

.c-o-2 {
    margin-left: 16.66667%;
}

.c-o-3 {
    margin-left: 25%;
}

.c-o-4 {
    margin-left: 33.33333%;
}

.c-o-5 {
    margin-left: 41.66667%;
}

.c-o-6 {
    margin-left: 50%;
}

.c-o-7 {
    margin-left: 58.33333%;
}

.c-o-8 {
    margin-left: 66.66667%;
}

.c-o-9 {
    margin-left: 75%;
}

.c-o-10 {
    margin-left: 83.33333%;
}

.c-o-11 {
    margin-left: 91.66667%;
}
}
.carousel-control-next, .carousel-control-prev{
    width: 2% !important;
    height: 79px !important;
    top: 50% !important;
    transform: translateY(-50%) !important;
    background: rgba(255, 255, 255, 0.5);
}
.carousel-item{
    position: relative !important;
}
.splide__arrow{
    width: 57px !important;
    height: 57px !important;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
}
.splide__arrow svg {
    fill: #c4c4c4 !important;
    height: 1.5em !important;
    transition: fill .2s linear;
    width: 3.5em;
}
/* .splide__arrow--prev{
    margin-left: -6%;
}
.splide__arrow--next{
    margin-right: -6%;
} */
.slick-prev.slick-arrow {
    position: absolute;
    left: -5%;
    width: 57px !important;
    height: 57px !important;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    color: #c4c4c4;
}
.slick-next.slick-arrow {
    position: absolute;
    right: -5%;
    width: 57px !important;
    height: 57px !important;
    border-radius: 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    color: #C4C4C4;
}
.fa.fa-angle-left{
    font-size: 22px !important;
}
.fa.fa-angle-right{
    font-size: 22px !important;
}
.partner__card--icon.slick-slide{
    margin: 0px 15px;
}
.active-news{
    border-left: 1px solid #FF0000;
    border-right:1px solid #FF0000;
    color: #FF0000 !important;
}
.active-header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 1000000000;
    transition: all .3s ease-in-out;
}
.active-language{
    color: #FF0000 !important;
}