.wrapper{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 88px;
    background-color: #ffffff;
    &__logo{
        width:147px;
        height:45px;
        img{
            object-fit:cover;
        }
    }
    &__right{
        width: 220px;
    }
    &__nav{
        &--center{
            margin-bottom: 0px !important;
            padding-left: 0px !important;
            padding-right: 2% !important;
            li{
                position: relative;
                list-style: none;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 15px;
                color:#4D4D4D;
                line-height: 88px;
                cursor: pointer;
                z-index: 10;
                &:after{
                content: "";
                position: absolute;
                width: 0%;
                height: 2px;
                bottom: 28px;
                left: 0;
                background-color:  #D71921;
                z-index: -1;
                border-radius: 1px;
                transition: all 0.5s ease;
                }
                &:hover{
                    &:after{
                        width: 100%;
                    }
                }
            }
        }
    }
    &__search{
        &--icon{
            img{
                cursor: pointer;
            }
        }
        &--form{
            input{
                font-family: "Mulish", sans-serif;
                width: 67px;
                font-size: 15px;
                line-height: 19px;
                text-decoration-line: underline;
                color: #C4C4C4;
                &::placeholder{
                    color: #C4C4C4;
                }
            }
            label{
                img{
                    display: inherit;
                    object-fit: cover;
                    cursor: pointer;
                }
            }
        }
        &--language{
            span:first-child{
                font-family: "Mulish", sans-serif;
                line-height: 19px;
                font-size: 15px;
                border-right: 2px solid #C4C4C4;
                padding-right: 10px;
                font-weight: 400;
                cursor: pointer;
                // &:hover{
                //     color: #FF0000;
                // }
            }
            span:last-child {
                font-family: "Mulish", sans-serif;
                font-size: 15px;
                padding-left: 10px;
                font-weight: 400;
                cursor: pointer;
                // &:hover{
                //     color: #FF0000;
                // }
            }
        }
    }
    &__toggle{
        cursor: pointer;
        display: none;
        position: absolute;
        top: 35px;
        right: 5%;
        font-size: 20px;
        font-weight: bold;
    }
}
.banner{
    width: 100%;
    height: 442px;
    position: relative;
    overflow: hidden;
    &__add{
        position: absolute;
        top: 66%;
        left: 50%;
        z-index: 20000;
    }
    &__item{
        position: absolute;
        top: 50%;
        left: 7.5%;
        transform: translateY(-50%);
        z-index: 10000;
        span{
            font-family: "Mulish", sans-serif;
            color: #FFFFFF;
            font-weight: bold;
            font-size: 15px;
            line-height: 15px;
            background-color: #FF0000;
            padding: 2% 8.5%;
            border-radius: 4px;
            cursor: pointer;
            &:hover{
                // opacity: 0.7;
                background: #FF0000;
                background: linear-gradient(0deg, #FF0000 0%, rgb(240, 93, 93) 100%);
            }
        }
    }
    &__text{
        &--one{
            text-transform: uppercase;
            color: #FF0000;
            font-family: "Roboto", sans-serif;
            font-weight: 900;
            font-size: 58px;
            line-height: 55px;
        }
        &--second{
            font-weight: 400;
            font-family: "Roboto", sans-serif;
            font-size: 40px;
            line-height: 55px;
        }
    }
    &__top{
        width: 100%;
        height: 100%;
        &--image{
            width: 100%;
            height: 100%;
            img{
                object-fit: cover;
            }
            &-into{
                img{
                    position: absolute;
                    width: 100%;
                    height: 485px;
                    top: -57px;
                    right: 0%;
                }                
            }
        }
    }
}
.about{
    padding-top: 40px;
    padding-bottom: 65px;
    width: 100%;
    &__image{
        object-fit: cover;
    }
    &__title{
        p{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 32px;
            color: #333333;
            line-height: 95px;
            position: relative;
            z-index: 1;
            &:before{
                content: "";
                position: absolute;
                width: 71px;
                height: 4px;
                bottom: 0;
                left: 0;
                background-color: #FF0000;
                z-index: -1;
                border-radius: 2px;
            }
            &:after{
                content: "";
                position: absolute;
                width: 19px;
                height: 4px;
                bottom: 0;
                left: 77px;
                background-color: #F94C4C;
                z-index: -1;
                border-radius: 2px;
            }
        }

    }
    &__content{
        &--telecom{
            width: 580px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 15px;
            text-align: justify;
            color: #5D5D5D;
            line-height: 25px;
            margin-bottom: 22px;
        }
    }
    &__btn{
        padding: 2% 8%;
        font-family:"Mulish", sans-serif;
        font-weight: bold;
        color: #FFFFFF;
        font-size: 15px;
        line-height: 15px;
        background: #FF0000;
        border-radius: 4px;
        margin-top: 20px;
        cursor: pointer;
        &:hover{
            // opacity: 0.7;
            background: #FF0000;
            background: linear-gradient(0deg, #FF0000 0%, rgb(240, 93, 93) 100%);
        }
    }
}
.service{
    background-color: #F3F3F3;
    width: 100%;
    padding-bottom: 50px;
    &__title{
        padding-top: 60px;
        p{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 32px;
            line-height: 37px;
            color: #333333;
            position: relative;
            z-index: 1;
            padding-bottom: 7px;
            &:before{
                content: "";
                position: absolute;
                width: 71px;
                height: 4px;
                bottom: 0;
                left: 0;
                background-color: #FF0000;
                z-index: -1;
                border-radius: 2px;
            }
            &:after{
                content: "";
                position: absolute;
                width:19px;
                height: 4px;
                bottom: 0;
                left: 77px;
                background-color: #F94C4C;
                z-index: -1;
                border-radius: 2px;
            }
        }
    }
    &__slide{
        margin-top: 40px;
        position: relative;
        img{
            width: 100%;
            object-fit: cover;
        }
        &--contact{
            display:block;
            margin: 0 auto;
            position: absolute;
            background-color: #fff;
            width: 89%;
            border-top:4px solid #FF0000;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            border-radius: 0px 0px 8px 8px;
            bottom: -90px;
            left: 50%;
            transform: translateX(-50%);
            &--title{
                font-size: 18px;
                padding: 16px 20px 0px 20px;
                font-weight: bold;
                font-family: "Roboto", sans-serif;
                color: #333333;
                margin-bottom: 0px !important;
            }
            &--second{
                padding: 0px 50px 0px 20px;
                color: #333333;
                opacity: 0.8;
            }
            &--btn{
                padding: 0px 20px 20px 0px;
                text-align: right;
                span{
                    padding: 2% 11.4%;
                    background: #FF0000;
                    border-radius: 4px;
                    color: #FFFFFF;
                    font-weight: bold;
                    font-size: 15px;
                    font-family: "Mulish", sans-serif;
                    cursor: pointer;
                    &:hover{
                        // opacity: 0.7;
                        background: #FF0000;
                        background: linear-gradient(0deg, #FF0000 0%, rgb(240, 93, 93) 100%);
                    }
                }
            }
        }
    }
}
.product{
    background-color: #FFFFFF;
    padding: 60px 0px;
    &__title{
        p{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 32px;
            line-height: 37px;
            color: #333333;
            position: relative;
            z-index: 1;
            padding-bottom: 7px;
            &:before{
                content: "";
                position: absolute;
                width: 71px;
                height: 4px;
                bottom: 0;
                left: 0;
                background-color: #FF0000;
                z-index: -1;
                border-radius: 2px;
            }
            &:after{
                content: "";
                position: absolute;
                width: 19px;
                height: 4px;
                bottom: 0;
                left: 77px;
                background-color: #F94C4C;
                z-index: -1;
                border-radius: 2px;
            }
        }
        a{
            color: #5D5D5D;
            font-family: "Roboto", sans-serif;
            font-size: 18px;
            &:hover{
                color: black;
                transition:all 0.2s ease-in-out;
            }
        }
    }
    &__list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__card{
        margin: 0px 5px;
        position: relative;
        width: 18%;
        height: 389px;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 8px;
        &--circle{
            width: 94px;
            height: 94px;
            border-radius: 50%;
            background: #FFFFFF;
            border: 1px solid #C4C4C4;
            display: block;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            img{
                display: block;
                // object-fit: cover;
            }
            span{
                font-family: "Mulish", sans-serif;
                font-size: 27px;
                font-weight: bold;
                text-transform: uppercase;
                color: #FF0000;
            }
        }
        &--title{
            p{
                font-family: "Roboto", sans-serif;
                font-weight: bold;
                font-size: 16px;
                line-height: 19px;
                color: #5D5D5D;
                text-transform: capitalize;
                padding-left: 10%;
            }
        }
        &--content{
            margin-bottom: 25px;
            p{
                font-family: "Roboto", sans-serif;
                font-size: 15px;
                line-height: 20px;
                color: #5D5D5D;
                padding:0% 10%;
            }
        }
        &--btn{
            text-align: center;
            span{
                background-color: #FF0000;
                display: block;
                width: 70%;
                padding: 5% 0%;
                margin: 0 auto;
                border-radius: 4px;
                font-family: "Mulish", sans-serif;
                font-size: 15px;
                color: #FFFFFF;
                line-height: 15px;
                cursor: pointer;
                position: absolute;
                bottom: 24px;
                left: 50%;
                transform: translateX(-50%);
                &:hover{
                    // opacity: 0.7;
                    background: #FF0000;
                    background: linear-gradient(0deg, #FF0000 0%, rgb(240, 93, 93) 100%);
                }
            }
        }
    }
}
.news{
    background-color: #F3F3F3;
    padding: 60px 0px;
    &__title{
        border-top:1px solid #C4C4C4;
        border-bottom:1px solid #C4C4C4;
        p{  
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 32px;
            line-height: 55px;
            color: #333333;
            margin-bottom: 0px;

        }
        &--right{
            border-top:1px solid #C4C4C4;
            border-bottom:1px solid #C4C4C4;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span{
                line-height: 55px;
                width: calc(100%/3);
                text-align: center;
                color: #5D5D5D;
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                cursor: pointer;
                &:hover{
                    color: #FF0000;
                }
            }
        }
    }
    &__second{
        padding-top:40px;
        
        &--content{
            height: 181px;
            background-color: #ffffff;
            border-left:1px solid #C4C4C4;
            border-right:1px solid #C4C4C4;
            border-bottom:1px solid #C4C4C4;
            &-s{
                color: #5D5D5D;
                font-size: 14px;
                font-family: "Roboto", sans-serif;
                line-height: 22px;
                padding: 0% 2% 3.3% 3%;
            }
        }
        &--title{
            padding:4% 3%;
            color: #333333;
            font-weight: bold;
            font-size: 18px;
            font-family: "Roboto", sans-serif;
            margin-bottom: 0px;
            cursor: pointer;
        }
        &--right{
            &--card{
                background-color: #fff;
                border: 1px solid #C4C4C4;
                p{
                    font-family: "Roboto", sans-serif;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 24px;
                    color: #333333;
                    padding: 16px 21px 0px 21px;
                    cursor: pointer;
                    &:hover{
                        color: #FF0000;
                        transition:all 0.2s ease-in-out;
                    }
                }
            }
            &--btn{
                margin-top: 32px;
                width: 32%;
                text-align: center;
                background-color: #FF0000;
                border-radius: 4px;
                color: #FFFFFF;
                font-family: "Mulish", sans-serif;
                font-size: 15px;
                line-height: 15px;
                padding: 2% 0%; 
                cursor: pointer;
                &:hover{
                    // opacity: 0.7;
                    background: #FF0000;
                    background: linear-gradient(0deg, #FF0000 0%, rgb(240, 93, 93) 100%);
                }
            }
        }
    }
}
.partner{
    background-color: #fff;
    padding: 60px 0px;
    &__card{
        padding: 3% 2%;
        &--icon{
            border: 1px solid #C4C4C4;
            // width: calc(100%/7);
            height: 116px;
            
            img{
                object-fit: cover;
                margin: 13px auto;
                display: block;
                width: 213px;
                height:90px;
            }
        }
    }
    &__title{
        p{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 32px;
            line-height: 37px;
            color: #333333;
            position: relative;
            z-index: 1;
            padding-bottom: 7px;
            &:before{
                content: "";
                position: absolute;
                width: 71px;
                height: 4px;
                bottom: 0;
                left: 0;
                background-color: #FF0000;
                z-index: -1;
                border-radius: 2px;
            }
            &:after{
                content: "";
                position: absolute;
                width: 19px;
                height: 4px;
                bottom: 0;
                left: 77px;
                background-color: #F94C4C;
                z-index: -1;
                border-radius: 2px;
            }
        }
    }
}
.footer{
    background-color: #333333;
    padding-top: 80px;
    &__title{
      p{
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: #ffffff;
        text-transform: uppercase;
        cursor: pointer;
        &:hover{
            color: #FF0000;
            transition:all 0.2s ease-in-out;
        }
      }
    }
    &__link{
        a{  
            font-family: "Roboto", sans-serif;
            line-height: 28px;
            text-decoration: none;
            color: #ffffff;
            font-size: 15px;
            &:hover{
                color: #FF0000;
                transition:all 0.2s ease-in-out;
            }
        }
    }
    &__content{
        p{
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
        }
        span{
            font-size: 14px;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            color: #ffffff;
        }
    }
    &__second{
        width: 100%;
        text-align: center;
        background: #303030;
        padding: 1%;
        p{  
            font-family: "Muldish", sans-serif;
            color: #C1C1C1;
            font-weight: normal;
            font-size: 15px;
            margin-bottom: 0px;
            text-transform: capitalize;
        }
    }
    &__icon{
        &--link{
            position: relative;
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius:8px;
            display: flex;
            justify-content: center;
            align-items: center;
            i{
                font-size: 26px;
            }
            span{
                color: black;
                font-weight: 500;
                display: block;
            }
        }
    }
    &__sub{
        margin-top: 10px;
        width: 175px;
        height: 62px;
        border-radius: 8px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            display: block;
            object-fit: cover;
        }
    }
}
.mobile{
    display: none;
    transition: all 0.8s ease;
    transform: translateX(400%);
    opacity: 0;
    background-color: #FFFFFF;
    width: 70%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
    img{
        position: absolute;
        top: 1%;
        right: 2%;
        cursor: pointer;
    }
    &__link{
        width: 100%;
        border-bottom: 1px solid #C4C4C4;
        padding: 4% 3%;
        a{  
            font-family: "Roboto", sans-serif;
            text-decoration: none;
            color: #4D4D4D;
            font-size: 15px;
        }
    }
}
.overlay{
    transition: all 0.1s ease;
    display: none;
    position: fixed;
    inset: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    z-index: 10000;
}
.contact__icon{
    display: none;
    &--phone{
        position: fixed;
        right: 43px;
        bottom: 30px;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        background: linear-gradient(89.62deg, #333333 -277.08%, #FF0000 160.78%);
        display: flex;
        justify-content: center;
        align-items: center;   
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  
        cursor: pointer;  
        z-index: 100000;
        &:hover{
            background: #1d8bf1;
        }
        &--contact{
            margin-top: 20px;
            margin-left: 4px;
            font-family: "Montserrat";
            font-weight: 500;
            font-size: 8px;
            color: #FFFFFF;
            
            a{
                text-decoration: none;
                color: #FFFFFF;
            }
            img{
                margin-left: 4px;
            }
        }
    }
}